body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #22223b;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #4a4e69;
  text-align: center;
  padding: 20px;
}

#site-title {
  color: #f2e9e4;
  font-size: 48px;
  margin: 0;
}

.navigation {
  background-color: #4a4e69;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.nav-list li {
  display: inline;
  margin: 0 15px;
}

.nav-list li a {
  color: #c9ada7;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #9a8c98;
  text-decoration: underline;
}

h1,
h2 {
  color: #22223b;
}

section {
  padding: 20px;
  margin: 20px;
}

.design-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.design-item {
  border: 1px solid #4a4e69;
  padding: 15px;
  background-color: #f2e9e4;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.design-link {
  color: #22223b;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.design-link:hover {
  color: #9a8c98;
  text-decoration: underline;
}

#gallery .filter {
  margin-bottom: 20px;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-grid figure {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-grid figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #4a4e69;
  color: #c9ada7;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #c9ada7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #9a8c98;
  text-decoration: underline;
}

.stats-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.stats-table,
th,
td {
  border: 1px solid #4a4e69;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4a4e69;
  color: #f2e9e4;
}

td {
  background-color: #eae0d5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #4a4e69;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  padding: 10px;
  background-color: #4a4e69;
  color: #f2e9e4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #9a8c98;
}
