body {
  font-family: "Brush Script MT", cursive;
  background-color: #d8f0c5;
  color: #012a4a;
  margin: 0;
  padding: 0;
}

.header-title {
  background-color: #1b5e20;
  text-align: center;
  padding: 20px;
}

.header-title h1 {
  color: #e0f1f7;
  font-size: 48px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: #1b5e20;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #a9d6e5;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #2c7da0;
  text-decoration: underline;
}

h1,
h2 {
  color: #002641;
}

section {
  padding: 20px;
  margin: 20px;
}

.species-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.species-list article {
  border: 1px solid #012a4a;
  padding: 15px;
  background-color: #e0f7fa;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  border-radius: 10px;
}

.species-list article a {
  color: #012a4a;
  text-decoration: none;
  transition: color 0.3s ease;
}

.species-list article a:hover {
  color: #61a5c2;
  text-decoration: underline;
}

#gallery .filter {
  margin-bottom: 20px;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.gallery-grid figure {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-grid figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #013a63;
  color: #a9d6e5;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

footer a {
  color: #a9d6e5;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #2c7da0;
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

table,
th,
td {
  border: 1px solid #012a4a;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #013a63;
  color: #e0f2ff;
}

td {
  background-color: #d7edf5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #012a4a;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #013a63;
  color: #e0f2ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2c7da0;
}
